<body id="bodyindex">
  <div id="index_top">
  <!-- ローディング画面 -->
    <div id="loading">
      <div class="spinner"></div>
    </div>
    <% unless user_signed_in? %>
    <div >
      <p class="animation index">番組を登録するとLINEでおしらせ</p>
      <p class="animation">Let's use it!</p>
    </div>
    <div class="user_out">
      <%= link_to 'Log In', new_user_session_path, class: 'user_link animation' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'user_link animation' %>
    </div>
    <% else %>
      <%= render 'content' %>
    <% end %>
  </div>
</body>