//application.html.erbレイアウト//

/*========= ヘッダー ===============*/

.header {
  background-color: rgb(66, 64, 64);
  height: 150px;
  display: flex;

  h1 a {
    font-family: "Train One", cursive;
    color: rgb(248, 254, 254);
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 70px;
    opacity: 0;
    animation-name: sample01;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    @keyframes sample01 {
      100% {
        opacity: 1;
      }
    }
    &:hover {
      color: #222;
    }
  }

  .header__bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding-right: 10px;

    .post {
      text-decoration: none;
      color: #222;
      font-size: 30px;
      &:hover {
        color: rgb(248, 254, 254);
      }
    }
    .user_nav {
      color: #222;
      font-size: 30px;
    }
    .user__info {
      .post {
        text-decoration: none;
        color: rgb(248, 254, 254);
        &:hover {
          color: #222;
        }
      }
    }
  }
}

/*========= ヘッダー ===============*/

footer {
  width: 100%;
  height: 80px;
  background-color: rgb(66, 64, 64);
  
p {
  line-height: 80px;
  text-align:center;
  color: rgb(248, 254, 254);
  } 
}