/*========= ヘッダー ===============*/

header {
  background-color: rgba(0, 0, 255, 0);
  /*background-color: #212529; */
  height: 120px;
  display: flex;
  width: 100vw;
  top: 0px;
  position: fixed;
  z-index: 2;
  transition: all 0.3s ease;

  h1 a {
    font-family: "Train One", cursive;
    color: rgb(113, 111, 111);
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 70px;
    opacity: 0;

    animation: {
      name: sample01;
      duration: 6s;
      iteration-count: 1;
      fill-mode: forwards;
    }
    @keyframes sample01 {
      100% {
        opacity: 1;
      }
    }
    &:hover {
      color: rgb(67, 67, 67);
    }
  }

  .header_bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding-right: 20px;

    .post {
      text-decoration: none;
      color: rgb(113, 111, 111);
      font-size: 30px;
      &:hover {
        color: rgb(67, 67, 67);
      }
    }
    .user_nav {
      color: rgb(113, 111, 111);
      font-size: 30px;
    }

    .user_out {
      display: flex;
      flex-direction: column;
    }

    .user_link {
      font-size: 30px;
      text-decoration: none;
      color: rgb(113, 111, 111);
      margin-left: 10px;
      &:hover {
        color: rgb(67, 67, 67);
      }
    }
  }
}

/*========= フッター ===============*/

footer {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 255, 0);
  bottom: 0; /* 上部から配置の基準位置を決める */
  left: 0; /* 左から配置の基準位置を決める */
  position: fixed;

  p {
    line-height: 60px;
    text-align: center;
    color: whitesmoke;
  }
}

/*position: fixed; /* フッターを固定する */
