//application.html.erbレイアウト//
.header {
  background-color: gray;
  height: 150px;

  h1 a {
    color: azure;
    text-decoration: none;
    letter-spacing: 4px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    &:hover {
      color: #222;
    }
  }
  .user_nav {
    color: aqua;
  }
  .user__info {
    li {
      list-style: none;
      .post {
        color: aquamarine;
        justify-content: flex-end;
      }
    }
  }
}
