/*<!-- トップ画面グラデーション -->*/
#bodyindex {
  background-color: #e74c3c;
  animation: bg-color 10s infinite;
  @keyframes bg-color {
    0% { background-color: #e73c7e; }
    20% { background-color: #9b59b6; }
    40% { background-color: #23a6d5; }
    60% { background-color: #23d5ab; }
    80% { background-color: #f6cc63; }
    100% { background-color: #e73c7e; }
  }

  header {
    background-color: transparent;
    height: 120px;
  }

  footer {
    background-color: transparent;
  }
}

#index_top {
/*<!-- ローディング画面 -->*/
  #loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: rgb(235, 157, 248);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  @keyframes sk-scaleout {
    0% {
      transform: scale(0);
    } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
  }
  .loaded {
    opacity: 0;
    visibility: hidden;
  }

  /*<!-- ログイン前 -->*/
  .user_out {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .user_link {
      font-size: 100px;
      text-decoration: none;
      color: #f8fefe;
      &:hover {
        color: rgb(113, 111, 111);
      }
    }
  }

  /*アニメーション要素のスタイル*/
  .animation {
    opacity : 0;
    visibility: hidden;
    transition: 1s;
    transform: translateY(100px);
    margin-top: 20px;
    font-size: 50px;
    color: #f8fefe;
  }
.index {
  margin-top: 250px;
}
  /*アニメーション要素までスクロールした時のスタイル*/
  .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

/*<!-- ログイン前・後両方 -->*/
#userContents {
  margin-top: 200px;

  h1 {
    font-size: 50px;
    height: 100px;
    color: whitesmoke;
    letter-spacing: 5px;
    margin-left: 30px;
    text-align: center;
  }

/*<!-- ログイン後 -->*/
  .content_list {
    margin: 50px;
    position: relative;
    padding: 1.5rem 2.5rem;
    border: 4px solid rgba(177, 176, 179, 0.422);
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgba(243, 245, 246, 0.422);
  }

  .content_list:before {
    position: absolute;
    pointer-events: none;
    top: 4px;
    left: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    content: "";
    border: 4px dotted rgba(72, 72, 73, 0.422);
  }

  .content_list p {
    font-size: 30px;
    margin-left: 20px;
    color: rgba(72, 72, 73, 0.422);
    i {
      font-size: 25px;
      color: rgba(72, 72, 73, 0.422);
    }
  }

  .content_item {
    display: flex;
    flex-direction: column;
    ul {
      list-style: none;
      padding: 0 30px;
    }
    li {
      font-size: 20px;
      color: rgba(72, 72, 73, 0.422);
    }
  }

  .more_link {
    display: flex;
    flex-direction: column;
    ul {
      list-style: none;
    }
    .link {
      font-size: 20px;
      text-decoration: none;
      color: rgba(72, 72, 73, 0.422);;
      &:hover {
        color: rgba(20, 20, 20, 0.62);
      }
    }
  }
}