/*<!-- トップ画面グラデーション -->*/
#bodyindex {
  background-color: #fc8b7fd4;
  animation: bg-color 10s infinite;
  @keyframes bg-color {
    0% {
      background-color: #ff629eb0;
    }
    20% {
      background-color: #be6bdeb1;
    }
    40% {
      background-color: #57d0fbb5;
    }
    60% {
      background-color: #50f0cbba;
    }
    80% {
      background-color: #fee197cf;
    }
    100% {
      background-color: #ff629eb0;
    }
  }

  header {
    background-color: transparent;
  }

  footer {
    background-color: transparent;
  }
}

#index_top {
  padding: 0 30px 200px;

  /*<!-- ローディング画面 -->*/
  #loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: rgb(235, 157, 248);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1s infinite ease-in-out;
  }

  @keyframes sk-scaleout {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  .loaded {
    opacity: 0;
    visibility: hidden;
  }

  /*<!-- ログイン前 -->*/
  .user_out {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .user_link {
      font-size: 100px;
      text-decoration: none;
      color: #f8fefe;
      &:hover {
        color: rgb(113, 111, 111);
      }
      @include mq("sm") {
        font-size: 50px;
        height: 250px;
      }
    }
  }

  /*アニメーション要素のスタイル*/
  .animation {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    transform: translateY(100px);
    margin-top: 20px;
    font-size: 50px;
    color: #f8fefe;
  }
  .index {
    padding-top: 250px;
    
  }
  /*アニメーション要素までスクロールした時のスタイル*/
  .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    @include mq("sm") {
      font-size: 25px;
    }
    
  }
}

/*<!-- ログイン前・後両方 -->*/
#userContents {
  margin: 200px 0 50px;

  padding: 0 0 50px;
  h1 {
    font-size: 50px;
    height: 100px;
    color: whitesmoke;
    letter-spacing: 5px;
    margin-left: 30px;
    text-align: center;
  }
  h2 {
    color: rgba(49, 49, 50, 0.768);
    font-size: 50px;
    padding: 20px 0 10px;
    margin-left: 20px;
    letter-spacing: 3px;
  }

  /*<!-- ログイン後 -->*/
  .content_list {
    margin: 10px;
    position: relative;
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: flex-end;
    height: 100px;
    justify-content: center;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      border-bottom: 3px solid rgba(49, 49, 50, 0.768);
      animation: border_anim 3s linear forwards;
      @include mq("sm") {
        border-bottom: 2px solid rgba(49, 49, 50, 0.768);
      }
    }
    @keyframes border_anim {
      0% {
        width: 0%;
      }
      100% {
        width: 90%;
      }
    }
    @include mq("lg") {
      padding: 10px;
      height: 100px;
      align-items: center;
    }
    @include mq("sm") {
      padding: 0;
      height: 50px;
      align-items: center;
    }
  }
  /*========= タイピング ===============*/
  .TextTyping {
    text-align: center;
    margin: 20px 0;
    font-size: 4rem;
    letter-spacing: 0.2em;
    word-break: break-all;
    color: rgba(49, 49, 50, 0.768);
    @include mq("lg") {
      font-size: 45px;
    }
    @include mq("sm") {
      font-size: 25px;
    }
  }
  .TextTyping span {
    display: none;
  }
  /*文字列後ろの線の設定*/
  .TextTyping::after {
    content: "|";
    animation: typinganime 0.8s ease infinite;
  }
  @keyframes typinganime {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .content_list p {
    font-size: 30px;
    color: rgba(49, 49, 50, 0.768);
    i {
      font-size: 25px;
      color: rgba(49, 49, 50, 0.768);
      margin-left: 10px;
      @include mq("lg") {
        font-size: 30px;
      }
      @include mq("sm") {
        font-size: 15px;
        margin: 0 5px;
      }
    }
    @include mq("lg") {
      font-size: 30px;
      font-weight: bold;
      align-items: center;
    }
    @include mq("sm") {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .content_item {
    display: flex;
    flex-direction: column;
    ul {
      list-style: none;
      padding: 0 30px;
      display: flex;
      @include mq("lg") {
        padding: 0;
        font-weight: bold;
      }
    }
    li {
      font-size: 20px;
      color: rgba(49, 49, 50, 0.768);
      margin: 0 10px;
      @include mq("lg") {
        font-size: 25px;
        align-items: center;
      }
      @include mq("sm") {
        font-size: 5px;
        align-items: center;
        margin: 0 2px;
        display: none;
      }
    }
  }

  .more_link {
    display: flex;
    flex-direction: column;
    ul {
      list-style: none;
    }
    .link {
      font-size: 25px;
      text-decoration: none;
      color: rgba(49, 49, 50, 0.768);
      &:hover {
        color: rgba(255, 254, 254, 0.944);
      }
      @include mq("lg") {
        font-size: 30px;
        align-items: center;
      }
      @include mq("sm") {
        font-size: 15px;
      }
    }
  }
}
