#line_link {

  .a.btn-border {
    border-radius: 0;
    color: #ff3cac;
    margin: 20px 0;
  }

  .a.btn-border:before,
  .a.btn-border:after {
    position: absolute;
    width: 100%;
    height: 2px;

    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #ff3cac;
  }

  .a.btn-border:before {
    top: 0;
    left: 0;
  }

  .a.btn-border:after {
    right: 0;
    bottom: 0;
  }

  .a.btn-border:hover:before,
  .a.btn-border:hover:after {
    width: 0;
  }
}